<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :designation %><br>
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :degree %><br>
    <%= f.select :degree, options_for_select(Employee::DEGREES) %>
  </div>
  <div class="field">
    <%= f.label :university %><br>
    <%= f.text_field :university %>
  </div>
  <div class="field">
    <%= f.label :college %><br>
    <%= f.text_field :college %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :experience, :title => "Eg. 3.7 for 3 years 7 month experienced" %><br>
    <%= f.text_field :experience, :title => "Eg. 3.7 for 3 years 7 month experienced" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, options_for_select(Employee::TYPES, selected: @employee.type) %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <div class="errorMessage">There are errors in creating employee</div>
<% end %>
