<%= form_for(@project_task) do |f| %>
  <% if @project_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_task.errors.count, "error") %> prohibited this project_task from being saved:</h2>

      <ul>
      <% @project_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
