<div class="timeSheetTable">
  <div class="timeSheetOverlay"></div>
  <table>
    <thead>
      <tr>
        <th>Project</th>
        <th>Task</th>
        <th>Date</th>
        <th>Time</th>
        <th>Total Time</th>
      </tr>
    </thead>
     
     <tbody>
  	   <% @time_sheets.each do |time_sheet| %>
  		   <tr>
  		   	<td><%= time_sheet.project.name %></td>
  		   	<td><%= time_sheet.project_task.name %></td>
  		   	<td><%= time_sheet.date_of_sheet %></td>
  		   	<td><%= "#{time_sheet.from_time.strftime("%I:%M %p")} - #{time_sheet.to_time.strftime("%I:%M %p")}" %></td>
  		   	<td><%= time_sheet.total_hours %></td>		   	
  		   </tr>
  	   <% end %>
     </tbody>
  </table>
</div>