<!DOCTYPE html>
<html>
<head>
  <title>EmployeeManagement</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<%= render 'shared/header' %>
		<div id="page_content">
			<% if current_employee %>
				<%= render 'shared/employee_header' if !current_employee.is?("Admin") %>
				<%= render 'shared/admin_header' if current_employee.is?("Admin") %>
			<% end%>
			<div id="container">
				<%= yield %>
			</div>			
		</div>
		<%= render 'shared/footer' %>
	</div>
</body>
</html>